/*********************************************************/
.text-lightgray {
    color: #d3d3d3;;
}
.text-lightgreen {
    color: #20D489;
}
.text-gold {
    color: gold;
}


.text-decoration {
    text-decoration: none;
}
.mouse-click {
    cursor: pointer;
}



.text-opacity {
    opacity: 0.6;
    transition: 0.2s;
}
.text-opacity:hover {
    opacity: 1;
    transition: 0.2s;
}


