/*********************************************************/
.text-lightgray {
    color: #d3d3d3;;
}
.text-lightgreen {
    color: #20D489;
}
.text-gold {
    color: gold;
}

.text-red {
    color: #DC3D4B;
}



.text-decoration {
    text-decoration: none;
}
.mouse-click {
    cursor: pointer;
}

.mouse-disabled {
    cursor: no-drop
}

.text-spacing5 {
    letter-spacing: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-opacity {
    opacity: 0.8;
    transition: 0.2s;
    cursor: pointer;
}
.text-opacity:hover {
    opacity: 1;
    transition: 0.2s;
}

